<h1>What is this?</h1>

<p><strong>pf-kernel</strong> is a desktop-oriented Linux kernel fork. Its name is by <strong>no means</strong> related to BSD Packet Filter. &ldquo;pf&rdquo; stands for &ldquo;post-factum&rdquo;, the author&rsquo;s nickname.</p>

<p>Join official <strong>#pfkernel</strong> channel @ Libera.Chat IRC and official Matrix room: <a href="https://matrix.to/#/#pf-kernel:envs.net"><strong>#pf-kernel:envs.net</strong></a>.</p>

<h1>OK, what&rsquo;s there in your patchset?</h1>

<p>Currently, pf-kernel incorporates:</p>

<ul>
<li><a href="https://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git">stable kernel update</a></li>
<li><a href="https://github.com/graysky2/kernel_compiler_patch">graysky&rsquo;s GCC patch</a></li>
<li><a href="https://codeberg.org/pf-kernel/uksmd">userspace-assisted KSM</a></li>
<li><a href="https://github.com/umlaeute/v4l2loopback">v4l2loopback device</a></li>
<li><a href="https://github.com/google/bbr/commits/v2alpha">BBRv2</a></li>
<li><a href="https://github.com/facebook/zstd/releases/tag/v1.5.4">zstd v1.5.4</a></li>
<li><a href="https://lore.kernel.org/lkml/20230131090016.3970625-1-perry.yuan@amd.com/">AMD EPP P-state driver</a> with <a href="https://lore.kernel.org/lkml/20230307112740.132338-1-wyes.karny@amd.com/">guided autonomous mode</a> support</li>
<li><a href="https://gitlab.com/ddcci-driver-linux/ddcci-driver-linux">DDCCI driver</a></li>
<li><a href="https://lore.kernel.org/lkml/20230308171328.1562857-1-usama.arif@bytedance.com/">CPU parallel bringup</a></li>
<li>random fixes here and there</li>
</ul>


<p>This improves interactiveness and performance, saves some memory and fixes nasty bugs.</p>

<h1>How do I get it?</h1>

<p>The full list of all the releases, including the latest one, <a href="https://codeberg.org/pf-kernel/linux/releases">is available here</a>.</p>

<h2>But I want binary builds!</h2>

<p>There are Arch Linux official binaries available for some architectures (<em>64-bit only</em>):</p>

<ul>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-generic">generic x86_64</a></li>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-generic-v2">x86_64_v2</a></li>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-generic-v3">x86_64_v3</a></li>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-generic-v4">x86_64_v4</a></li>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-core2">Intel Core 2</a></li>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-silvermont">Intel Silvermont</a></li>
<li><a href="https://build.opensuse.org/package/show/home:post-factum:kernels/linux-pf-skylake">Intel Skylake</a></li>
</ul>


<h3>Where is Fedora, Gentoo etc?</h3>

<p>Some unofficial packages are maintained here:</p>

<ul>
<li><a href="https://packages.gentoo.org/packages/sys-kernel/pf-sources">Gentoo</a></li>
</ul>


<p>Please don&rsquo;t ask me to fix or update them, I just host some links. But if you know that some other distributions also support pf-kernel, let me know.</p>

<h4>I saw linux-pf package in AUR, is it supported?</h4>

<p>No, since it is maintained by other people. But I still leave some links to it here:</p>

<ul>
<li><a href="https://aur.archlinux.org/packages/linux-pf">linux-pf</a> with some enhancements</li>
<li><a href="https://aur.archlinux.org/packages/linux-pf-git">linux-pf-git</a> to be on the very edge</li>
</ul>


<h1>I have an idea for you!</h1>

<p>Please <a href="mailto:oleksandr@natalenko.name">let me know</a>.</p>

<h1>Reminder</h1>

<p>As per <a href="https://www.gnu.org/licenses/gpl-2.0.html">GPLv2</a>, this program is distributed in the hope that it will be useful, but <strong>WITHOUT ANY WARRANTY</strong>; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. Please keep this in mind.</p>
